html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.title{
    color: chocolate;
}
.task{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 auto;
}
.square_container{
    display: flex;
    justify-content: center;
}
.black_square{
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 50px 0;
}

.buttons_container{
    display: flex;
    justify-content: center;
}
.buttons{
    background-color: cadetblue;
    color: white;
    padding: 5px 10px;
    border: blue;
    font-size: 16px;
    margin-right: 30px;
    height: 50px;
    width: 100px;
}
.buttons:last-child{
    margin-right: 0;
}

.line{
    display: block;
    width: 100%;
    height: 3px;
    color: blue;
    border: none;
}

.five_squares{
    margin-right: 30px;
}

.five_squares:last-child{
    margin-right: 0;
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.label_title{
    width: 100%;
    background-color: gray;
    font-size: 22px;
    color: white;
    margin-bottom: 5px;
    padding: 5px 5px;
}

.input_class{
    width: 100%;
}

.yellow_square{
    background-color: yellow;
}

.button_1:hover{

}